<section class="product">
  <div class="container">
    <div class="product-row">
      <div class="product-img-wrapper">
        <img
          class="product-img"
          src="../../img/product/photo.jpg"
          alt="Photo"
        />
        <div class="product-card">
          <div class="card">
            <h3 class="card-title">Customized For</h3>
            <div class="card-avatar">
              <div class="avatar">
                <img
                  class="avatar-img"
                  src="../../img/product/avatar.jpg"
                  alt="Avatar"
                />
                <h4 class="avatar-name">Mikayla</h4>
              </div>
            </div>
            <div class="card-contents">
              <h3 class="card-contents-title">Your custom contents</h3>
              <ul class="card-contents-list">
                <li class="card-contents-item">Understand Your Stress</li>
                <li class="card-contents-item">Anger Management</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="product-content">
        <h2 class="product-content-title">Our product</h2>
        <h3 class="product-content-subtitle">
          You tell us your stress, We make your diary
        </h3>
        <p class="product-content-text">
          Everyone experiences it, and in different ways. Let Alivio guide you,
          in a personalized journal experience, to overcome your stress.
        </p>
        <div class="btn-container">
          <a class="product-content-btn" href="#">Find Your Way</a>
        </div>
      </div>
    </div>
  </div>
</section>
