<section class="story">
  <div class="container container-wide">
    <div class="story-row">
      <div class="story-content">
        <h2 class="story-heading">Let's hear about Kayla's success story</h2>
        <p class="story-text">
          See how well Alivio works in a real customer's life.
        </p>
        <div class="btn-container">
          <a class="story-btn" href="">Let's get started</a>
        </div>
      </div>
      <div class="story-video">
        <div class="story-video-overlay" id="video-story-overlay">
          <button class="story-video-btn" id="video-story-btn">
            <img
              class="story-video-btn-icon"
              src="./img/play-white.svg"
              alt="Play"
              width="82"
              height="82"
            />
          </button>
        </div>
        <video class="story-video-object" id="video-story">
          <source src="./video/customer-story.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</section>
