<header class="header">
  <div class="container">
    <div class="header-row">
      <img class="header-logo" src="./img/logo.svg" alt="Logo" />
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link" href="#">Why Alivio</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#">Solutions</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#">Community</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </nav>
      <div class="header-login">
        <a class="login" href="#">Sing in</a>
        <a class="header-btn" href="#">Start Trial</a>
      </div>
      <!-- <button class="mobile-nav-btn" type="button">
						<span class="mobile-nav-btn-icon"></span>
					</button> -->
    </div>
  </div>
</header>
